<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>音MADメーカー</title>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <div class= 'header_title'>
                <!-- twitterのアイコンを表示する -->
                <a href="https://x.com/trash_chinpost" target="_blank" rel="noopener noreferrer" class="twitter-link">
                    <img src="{{ url_for('static', filename='/pic/icon.jpg') }}" alt="Twitter Logo" class="icon-image">
                    <p class="title_text" style="font-size: 15px;">作った人</p>
                </a>
                <p class="title_text" style="font-size: 45px;margin-left: 2%;">音MADメーカー (音だけ)</p>
            </div>
        </div>

        <div class='big-body'>
            <p class='body-text' style="font-size: 43px; margin: 1%;font-family: serif;">・ 好きな音源で音楽を作ろう</p>
            <div class='body-content'>
                <!-- 画面左上のコンテナ-->
                <div class="body-element-background" style="top: 10px; left: 10px; width: 450px; height: 200px;"></div>
                <div><p class='body-minititle' style="top:15px; left:25px ;font-size: 30px; font-family: serif;">短い音声をアップロード</p></div>
                <div> 
                    <audio style="position:absolute ;top:90px; left:25px" controls src="{{ url_for('static', filename='sample.wav') }}"></audio>
                    <img style="position:absolute ;top:100px; left:335px; height:100px;" src="{{ url_for('static', filename='/pic/upload-icon.png') }}" alt="Sample Image">
                </div>
                <!-- /画面左上のコンテナ-->
                 <!-- 矢印Arrow-->
                <img style="transform: rotate(160deg); position:absolute ;top:0px; left:470px; height:100px;" src="{{ url_for('static', filename='/pic/arrow.png') }}" alt="Sample Image">

                
                <!-- サンプル生成に関する説明-->
                <div class="body-element-background" style="position relative;top: 90px; left: 500px; width: 450px; height: 200px;"></div>
                    <div><p class='body-minititle' style="top:95px; left:515px ;font-size: 30px; font-family: serif;">生成したサンプルを聴く</p></div>
                    <audio style="position:absolute ;top:160px; left:520px" controls src="{{ url_for('static', filename='sample-example.wav') }}"></audio>
                    <img style="position:absolute ;top:170px; left:830px; height:100px;" src="{{ url_for('static', filename='/pic/headphone.png') }}" alt="Sample Image">
                    <div><p class='body-minititle' style="top:235px; left:515px ;font-size: 30px; font-family: serif;">音程をチェック</p></div>

                <!-- 矢印Arrow-->
                <img style="transform: rotate(300deg); position:absolute ;top:280px; left:470px; height:100px;" src="{{ url_for('static', filename='/pic/arrow.png') }}" alt="Sample Image">

                <!-- サンプル生成に関する説明-->
                <div class="body-element-background" style="position relative;top: 240px; left: 10px; width: 450px; height: 150px;">
                    <div><p class='body-minititle' style="top:5px; left:15px ;font-size: 30px; font-family: serif;">長い音楽を生成する</p></div>
                    <img style="position:absolute ;top:10px; left:100px; height:180px;" src="{{ url_for('static', filename='/pic/notes.png') }}" alt="Sample Image">
                </div>
            
            </div>
        </div>

        <!-- <img src="{{ url_for('static', filename='samune.png') }}" alt="Sample Image" class="header-image"> -->

        <div>
            <div class="list-box">
                <div class="explain_text">曲のジャンル：</div>
                <select id='Music_genre' class='list_text'>
                    <option value="--" selected>曲のジャンルを選択してください</option>
                </select>

                <div class="explain_text">曲名：</div>
                <select  id='Music_name' class='list_text'>
                    <option value="--">--</option>
                </select>
            </div>
        </div>

        <!--　フォーム送信付近のスタイル -->
        <div class="form-container">
            <div class="textimage">
                <p style="font-size:25px;">こちらに音声ファイルをアップロードしてください <span style="color:red;">※wav限定です</span></p>
            </div>
            <div class="upload-container">
                <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                    <input class="file-input" type="file" id="audioFile" name="audioFile" accept=".wav">
                    <button class="btn-submit" onclick="ApploadButtonPushed()" id="submitButton" type="submit">サンプルを生成する</button>
                </form>
            </div>
        </div>

            <!-- モーダルの構造 -->
        <div id="Modal_wait" class="modal">
            <div class="modal-content">
                
                <span class="close" onclick=" CloseModal('Modal_wait')">&times;</span>
                <div class="modal-header">音声を生成しています。しばらくお待ちください。</div>
                <div class="loading_var">
                    <div class="loading_progress"></div>
                </div>
                <div class="loading-icon" id="loadingIcon"></div>
            </div>
        </div>

        <!-- ファイル送信エラー用のモーダル -->
        <div id="Modal_crush" class="modal">
            <div class="modal-content">
                <span class="close" onclick="CloseModal('Modal_crush')">&times;</span>
                <div class="modal-header">ファイルアップロードに失敗しました</div>
                <div class="modal-text">
                    恐れ入りますが、しばらく時間をおいてから再度お試しください。
                    <br>また、音声ファイルが正式なWAV形式であることをご確認ください。
                </div>
            </div>
        </div> 


        <div id="SampleCheck" class="modal">
            <div class="modal-content-large">
                <span class="close" onclick=" CloseModal('All')">&times;</span>
                <div class="modal-header">サンプル音声を確認してください</div>
                <div>
                    <audio id="sample-music" controls src="{{ url_for('get_file', filename='sound.wav') }}"></audio>
                </div>
                <div class="modal-header2">音の高さは問題ありませんか？</div>
                <div class="modal-explain">※下記の数字でピッチを変更できます ( 上限:-20, 下限:20 )</div>

                <input type="range" id="gearSlider" min="-20" max="20" value="0" oninput="updateGear(this.value)">
                <div class="gears">
                    <span id="gearValue">0</span>
                </div>

            
                <button id="regene" class="btn-file"  >サンプル音声を生成しなおす</button>
                <button id="gene" class="btn-submit">曲全体の音声を生成</button>
            
            </div>
        </div>
        <div id="MusicCheck" class="modal">
            <div class="modal-content">
                <span class="close" onclick=" CloseModal('MusicCheck')">&times;</span>
                <div class="modal-header">音声の生成が完了しました</div>
                <div>
                    <audio id="all-music" controls src="{{ url_for('get_file', filename='sound.wav') }}"></audio>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

