<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>音MADメーカー</title>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <div class= 'header_title'>
                <!-- twitterのアイコンを表示する -->
                <a href="https://x.com/trash_chinpost" target="_blank" rel="noopener noreferrer" class="twitter-link">
                    <img src="{{ url_for('static', filename='icon.jpg') }}" alt="Twitter Logo" height="40px" >
                    <p>作った人</p>
                </a>
                <p style="font-size: 24px; margin-left: 5%; font: bold;">音MADメーカー(音だけ)</p>
            </div>
        </div>
        <img src="{{ url_for('static', filename='samune.png') }}" alt="Sample Image" class="header-image"> 
            
        <div>
            <div class="list-box">
                <div class="explain_text">曲のジャンル：</div>
                <select id='Music_genre' class='list_text'>
                    <option value="--" selected>曲のジャンルを選択してください</option>
                </select>

                <div class="explain_text">曲名：</div>
                <select  id='Music_name' class='list_text'>
                    <option value="--">--</option>
                </select>
        </div>

        <button onclick="SendSome()" >何か送る</button>

        <div class="textimage">
            <img src="{{ url_for('static', filename='text.png') }}" height=50>
        </div>

        <div class="upload-container">
            
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="audioFile" name="audioFile" accept=".wav">
                <button onclick="ApploadButtonPushed()" id="submitButton" type="submit">Upload</button>
            </form>
        </div>

            <!-- モーダルの構造 -->
        <div id="Modal_wait" class="modal">
            <div class="modal-content">
                
                <span class="close" onclick=" CloseModal('Modal_wait')">&times;</span>
                <div class="modal-header">音声を生成しています。しばらくお待ちください。</div>
                <div class="loading_var">
                    <div class="loading_progress"></div>
                </div>
                <div class="loading-icon" id="loadingIcon"></div>
            </div>
        </div>

        <!-- ファイル送信エラー用のモーダル -->
        <div id="Modal_crush" class="modal">
            <div class="modal-content">
                <span class="close" onclick="CloseModal('Modal_crush')">&times;</span>
                <div class="modal-header">ファイルアップロードに失敗しました</div>
                <div class="modal-text">
                    恐れ入りますが、しばらく時間をおいてから再度お試しください。
                    <br>また、音声ファイルが正式なWAV形式であることをご確認ください。
                </div>
            </div> <!-- .modal-content の閉じタグが必要 -->
        </div> <!-- .modal の閉じタグが必要 -->
        <!-- 外部JavaScriptの読み込み -->

        <div id="SampleCheck" class="modal">
            <div class="modal-content-large">
                <span class="close" onclick=" CloseModal('All')">&times;</span>
                <div class="modal-header">サンプル音声を確認してください</div>
                <div>
                    <audio id="sample-music" controls src="{{ url_for('get_file', filename='sound.wav') }}"></audio>
                </div>
                <div class="modal-header2">音の高さは問題ありませんか？</div>
                <div class="modal-explain">※下記の数字でピッチを変更できます ( 上限:-20, 下限:20 )</div>

                <input type="range" id="gearSlider" min="-20" max="20" value="0" oninput="updateGear(this.value)">
                <div class="gears">
                    <span id="gearValue">0</span>
                </div>

            
                <button id="regene" class="btn-file"  >サンプル音声を生成しなおす</button>
                <button id="gene" class="btn-submit">曲全体の音声を生成</button>
            
            </div>
        </div>
        <div id="MusicCheck" class="modal">
            <div class="modal-content">
                <span class="close" onclick=" CloseModal('MusicCheck')">&times;</span>
                <div class="modal-header">音声の生成が完了しました</div>
                <div>
                    <audio id="all-music" controls src="{{ url_for('get_file', filename='sound.wav') }}"></audio>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

